.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  height: 75px;
  background-color: white;
  padding: 10px 30px;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1230px;
}

.navbar-head {
  display: flex;
  height: 100%;
}

.navbar-link {
  height: 100%;
  cursor: pointer;
}

.logo {
  height: 100%;
  width: auto;
}

.nav-menu {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100%;
}

.nav-menu-mobile {
  display: none;
  height: 100%;
  align-items: center;
}

.nav-link {
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  border-radius: 3px;
  color: color-mix(in srgb, currentColor 75%, transparent);
  cursor: pointer;
}

.nav-link:hover {
  background: rgba(88, 90, 88, 0.1) 
}

.hb-menu-mobile {
  padding: 20px;
}

.collapse-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  top: 80px;
  right: 10px;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width : 768px) {
  .nav-menu {
    display: none;
  }

  .nav-menu-mobile {
    display: flex;
  }

  .navbar {
    height: 50px;
  }

  .collapse-menu {
    padding: 0px;
  }

  .nav-link {
    padding: 10px 15px;
  }
}