.intro-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: calc(100vh - 125px);
  background-image:
    linear-gradient(rgba(2, 2, 11, 0.9), rgba(50, 41, 149, 0.8)),
    url("../assets/nivra_logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slogan-1 {
  padding: 10px 0 50px 0;
}

.desc-slide {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 30px;
}

.desc-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  max-width: 700px;
}

.nivra-g-1 {
  object-fit: cover;
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 400px;
}

@media only screen and (max-width : 768px) {
  .intro-slide {
    height: calc(100vh - 100px);
  }

  .nivra-g-1 {
    display: none;
  }

  .desc-card {
    padding: 30px;
  }
}