.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: calc(100vh - 125px);
  background-image:
    linear-gradient(rgba(2, 2, 11, 0.9), rgba(50, 41, 149, 0.8)),
    url("../assets/nivra_logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slogan-1 {
  padding: 10px 0 50px 0;
}

@media only screen and (max-width : 768px) {
  .intro {
    height: calc(100vh - 100px);
  }
}