ul {
  list-style-position: inside;
}

.roadmap-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.roadmap-grid {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.roadmap-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-end;
}

.roadmap-item-head {
  display: flex;
  gap: 15px;
  align-items: center;
}

.roadmap-item-right {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 15px;
}

.roadmap-fork-right {
  grid-column: 1;
  align-self: center;
  height: 2px;
  width: 250px;
  background: linear-gradient(0.25turn, white, #473a87);
}

.head-3-right {
  grid-column: 2;
  grid-row: 1;
}

.roadmap-list-right {
  grid-column: 2;
  grid-row: 2;
}

.roadmap-tree {
  grid-column: 2;
  grid-row: 1 / 7;
  width: 12px;
  background: linear-gradient(white, #473a87);
  border-radius: 15px;
}

.roadmap-tree-fork {
  height: 2px;
  width: 250px;
  background: linear-gradient(0.75turn, white, #473a87);
}

.roadmap-list {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#roadmap-point1 {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
}

#roadmap-point2 {
  grid-column: 3;
  grid-row: 2;
}

#roadmap-point3 {
  grid-column: 1;
  grid-row: 3;
  justify-self: end;
}

#roadmap-point4 {
  grid-column: 3;
  grid-row: 4;
}

#roadmap-point5 {
  grid-column: 1;
  grid-row: 5;
  justify-self: end;
}

#roadmap-point6 {
  grid-column: 3;
  grid-row: 6;
}

#roadmap-point7 {
  grid-column: 1;
  grid-row: 7;
  justify-self: end;
}

.slide-up {
  opacity: 0;
  transform: translateY(200px);
  animation: slideUpFadeIn 2s ease-out forwards;
}

.roadmap-grid-mobile {
  display: none;
  grid-template-columns: min-content 1fr;
  row-gap: 30px;
}

.roadmap-tree-mobile {
  grid-column: 1;
  grid-row: 1 / 7;
  width: 12px;
  background: linear-gradient(white, #473a87);
  border-radius: 15px;
}


@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .roadmap-tree-fork, 
  .roadmap-fork-right  {
    width: 100px;
  }

  .roadmap-list {
    width: 250px;
  }
}

@media only screen and (max-width : 800px) {
  .roadmap-wrapper {
    align-items: start;
  }

  .roadmap-list {
    width: 100%;
  }

  .roadmap-grid {
    display: none;
  }

  .roadmap-grid-mobile {
    display: grid;
  }

  .roadmap-fork-right {
    width: 50px;
  }

  .head-3-right {
    justify-self: start;
  }

  #roadmap-point1 {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
  }
  
  #roadmap-point2 {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
  }
  
  #roadmap-point3 {
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
  }
  
  #roadmap-point4 {
    grid-column: 2;
    grid-row: 4;
    justify-self: start;
  }
  
  #roadmap-point5 {
    grid-column: 2;
    grid-row: 5;
    justify-self: start;
  }
  
  #roadmap-point6 {
    grid-column: 2;
    grid-row: 6;
    justify-self: start;
  }

  #roadmap-point7 {
    grid-column: 2;
    grid-row: 7;
    justify-self: start;
  }
}